* {
  box-sizing:border-box;
  color: rgb(235,235,235);
}

h1 {
  color: white;
  text-align: center;
}

body {
  background-image: url("images/MichaelScott.png");
  background-repeat:no-repeat;
  background-size:cover;
}

form {
  margin-left:auto;
  margin-right:auto;
  padding-top:10px;
  width:70%;
  min-height:290px;
  border-width:1px;
  border-color:rgba(100,100,100,0.85);
  border-style:solid;
  background-color: rgba(100,100,100,0.85);
  border-radius:6px;
}
fieldset {
  border:none;
}
/*Landing Page*/
.welcomeForm {
  text-align: center;
  padding-bottom:30px;
}
.welcomeField {
  border:none;
  text-align:center;
}
.welcome {
  font-size:20px;
}

p {
  font-size:20px;
}

/*Questions Page*/
.questionForm {

}
.questionField {
  border:none;
}
.question {
  text-align:center;
  font-size:20px;
}

.incorrect {
  text-align:center;
  font-size:20px;
}

label {
  font-size:15px;
}
/*Results Page*/
.resultsForm {
  margin-top:10px;
  text-align:center;
  object-fit:scale-down;
}

#failPic {
  width:150px;
  height:150px;
  object-fit:contain;
}

#passPic {
  height:150px;
  width:120px;
  object-fit:contain;
}

/*Mobile portait (320px to 414px)
For devices with 4" to 6.9" screens.

Mobile landscape (568px to 812px)
Same, but landscape.

Tablet portait (768px to 834px)
For devices 7" to 10"

Tablet landscape (1024px to 1112px)
Ditto, but also 12" tablets on portrait

Laptop & desktop displays (1200px+)
Varies a lot, but is usually 1200px and above
*/
.buttonContainer {
  text-align:center !important;
  margin-bottom:15px;
}
button {
  color:black;
}

.score, .progress {
  display:inline-block;
  /*may need to change to display flex*/
}

.score {
  float:left;
}

.progress {
  float: right;
}
