* {
  box-sizing:border-box;
  color: rgb(235,235,235);
}
h1 {
  color: white;
  text-align: center;
}
html {
  background-image: url("images/MichaelScott.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
  min-height:100%;
}
form {
  margin-left:auto;
  margin-right:auto;
  padding-top:10px;
  width:80%;
  min-height:435px;
  border-width:1px;
  border-color:rgba(100,100,100,0.85);
  border-style:solid;
  background-color: rgba(100,100,100,0.85);
  border-radius:6px;
}
fieldset {
  border:none;
}
button {
  color:black;
  width:35%;
  font-size:18px;
  margin:0px;
}
/*Landing Page*/
.welcomeForm {
  text-align: center;
  padding-bottom:30px;
}
.welcomeField {
  border:none;
  text-align:center;
}
.welcome {
  font-size:22px;
}
p {
  font-size:23px;
}
#beginButton {
  margin-top:76px;
}
/*Questions Page*/
.questionField {
  border:none;
}
.question {
  text-align:center;
  font-size:25px;
  margin-bottom:35px;
}
label {
  font-size:20px;
}
.buttonContainer {
  text-align:center !important;
  margin-bottom:10px;
}
#submitButton {
  margin-top:70px;
}
/*incorrect*/
.incorrect {
  text-align:center;
  font-size:25px;
}
#incorrectButton {
  margin-top: 100px;
}
/*Results Page*/
.resultsForm {
  padding-top:0;
  text-align:center;
  object-fit:scale-down;
}
h2 {
  font-size:26px;
}
.finalScore {
  font-size:20px;
}
#failPic {
  width:200px;
  height:175px;
  object-fit:contain;
}
#passPic {
  width:120px;
  height:180px;
  object-fit:contain;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.score, .progress {
  display:inline-block;
  font-size:20px;
}
.score {
  float:left;
  margin-left:5px;
}
.progress {
  float: right;
  margin-right:5px;
}
@media screen and (min-width:568px) {

  form {
    width:60%;
  }
  .welcome {
    font-size:25px;
  }
  #beginButton {
    margin-top:62px;
  }
  #passPic {
    height:200px;
  }
}

@media screen and (min-width:768px) {

  form {
    width:50%;
  }
  button {
    width:30%;
    font-size:24px;
  }
  .welcome {
    font-size:36px;
  }
  p {
    font-size:26px;
    margin-bottom:10px;
  }
  #beginButton {
    margin-top:20px;
  }
  .question {
    font-size:36px;
    margin-bottom:20px;
  }
  label {
    font-size:25px;
  }
  .score, .progress {
    font-size:25px;
  }
  #submitButton {
    margin-top:20px;
  }
  .incorrect {
    font-size:36px;
  }
  #incorrectButton {
    margin-top:39px;
  }

  h2 {
    font-size:30px;
  }

  #passPic {
    height:225px;
  }
  button {
    margin:0px;
  }

  #restartButton {
    margin:0px;
  }
}

@media screen and (min-width:1024px) {

  form {
    width:40%;
  }
  h2 {
    font-size:32px;
  }
  p {
    margin-bottom:29px;
  }
  #beginButton {
    margin-top:0px;
  }
  .finalScore {
    font-size:24px;
  }
  #failPic {
    width:250px;
  }
  #incorrectButton {
    margin-top:40px
  }
  #restartButton {
    margin-bottom:0px;
  }
}

@media screen and (min-width:1200px) {
  html {
    background-position:center bottom;
  }
}
